@font-face {
  font-family: font-regular;
  src: url('./../../assets/fonts/FuturaPTBook.otf');
}

@font-face {
  font-family: font-bold;
  src: url('./../../assets/fonts/FuturaPTBold.otf');
}

@font-face {
  font-family: font-medium;
  src: url('./../../assets/fonts/FuturaPTMedium.otf');
}
