
.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .auth-wrapper {
    width: 100%;
    max-width: 500px;
    box-shadow: 0px 2px 5px grey;
    border-radius: 5px;
    background: white;
    padding: 50px 0;
  }

  .input-wrapper {
    margin: 10px 50px;
    border-bottom: solid 0.5px #AEAEAE; 
  }

  .input-field {
    width: 100%;
    background-color: transparent;
    font-size: 20px;
    padding: 10px;
  }

  .button {
    background-color: #333333;
    border: none;
    margin: auto;
    width: 100%;
    max-width: 300px;
    height: 50px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 2px 5px grey;

    &:hover {
      background-color: #333333E6
    }

    &:active {
      box-shadow: 0px 6px 5px grey;
    }
  }

  .centered {
    display: block;
    margin-top: 30px;
  }

  .auth-action {
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
  }

  .auth-action-active {
    font-size: 28px;
    font-weight: bold; 
  }
}