@import '../../styles/variables.scss';

.navbar {
  width: 100%;
  z-index: 2;
  box-shadow: 0px -3px 7px grey;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .nav-content {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .align-center {
    text-align: center;
  }

  .logo {
    font-size: 30px;
    padding: 5px 0px;
    text-decoration: none;
    color: $black;
    flex: 1;
    font-family: font-bold;
  }

  .auth-menu {
    color: grey;
    font-size: 18px;
  }

  .menu-btn {
    font-size: 1.5em;
  }
  
  .menu-item {
    padding: 8px 18px;

    &:hover {
      background-color: #d8d8d8;
    }
  }

  .menu-red {
    color: red;
  }
}

@media screen and (max-width: 768px) {
  .nav-content {
    flex-direction: column;
  }
}