@import '../../styles/variables.scss';

.navbar {
  width: 100%;
  position: fixed;
  z-index: 2;
  box-shadow: 0px -3px 7px grey;

  .nav-content {
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .logo {
    font-size: 30px;
    padding: 5px 0px;
    text-decoration: none;
    color: $black;
    font-family: font-bold;

  }
}

@media screen and (max-width: 768px) {
  .nav-content {
    flex-direction: column;
  }
}