.search-root {
  flex: 1;
  margin: 0 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
  background-color: white;
}

.search-dropdown-control {
  background-color: transparent;
  border: none;
}

.search-input {
  height: 48px;
  background-color: transparent;
  font-size: 20px;
}